*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --dark:#000;
    --dark-01:#3A3A3A;
    --dark-02:#18191F;
    --pink:#E02C6D;
    --white:#fff;
    --orange:#FB8200;
    --gray50:#787885;
    --naviblue:#0A0826;
    --gray:#6C6C6C;
    --text-gray:#D9DBE1;
}
.display-none{
    display: none;
}
.display-block{
    display:block;
}
.poppins-thin-font {
  font-family: "Poppins", sans-serif;
}
.display-flex{
    display: flex;
    align-items: center;
}
/**header section style**/

.bar-icons{
    display: none;
}
.header-wrapper{
    width: 100%;

}
.navigation-bar{
    max-width: 1440px;
    padding: 87px 120px 50px 120px;
    margin: auto;
    justify-content: space-between;
}
.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-01);
}
.nav-manu ul{
    gap: 34px;
}
.nav-manu ul li{
    list-style: none;
}
.nav-manu ul li a{
    text-decoration: none;
    color: var(--dark-01);
    font-weight: 600;
}
.nav-icons i{
    font-size: 1rem;
    font-weight: 600;
}
.nav-manu, .nav-icons{
    gap: 34px;
}
/**main container section**/
.main-container{
    padding: 10px 30px 100px 30px;
    max-width: 1440px;
    margin: 0 auto;
}

/**hero section **/
.hero-section{
    max-width: 1440px;
    margin: 0 auto;
}
.hero-img{
    width: 475px;
    height: 475px;
    background-image: url(./images/Circle\ design.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.hero-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hero-title h2{
    font-size: 3.25rem;
    font-weight: 700;
    color: var(--dark-01);
}
.hero-content{
    justify-content: space-around;
}
.hero-title p{
    font-size: 1rem;
    font-weight: 600;
    color: var(--dark-01);
    margin: 16px 0px;
}
.hero-title{
    max-width: 582px;
}
.Preebook-btn{
    background-color: var(--pink);
    color: var(--white);
    padding: 10px 24px;
    border-radius: 41px;
    border: none;
}

/**brand section**/
.brand-section{
    max-width: 1110px;
    margin:69px auto;
    padding: 35px 62px;
    border-top: 0.5px solid var(--dark-01);
    border-bottom: 0.5px solid var(--dark-01);
}
.brand{
    justify-content: space-between;
    gap: 60px;
}

/**collection container**/
.collection-title{
    font-size: 1.75rem;
    color: var(--dark-01);
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}
.collection-container{
    max-width: 1047px;
    margin: 0 auto;
}
.card{
    max-width: 329px;
    border-radius: 5px;
    padding: 17px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 30px 0px 50px 0px;
}
.tripod h4{
    font-size: 1.75rem;
    color: var(--dark-02);
    font-weight: 500;
    margin-bottom: 8px;
}
.rating{
    padding: 8px 0;
    gap: 16px;
}
.span-dolar span{
    font-size: 1.5rem;
    color: var(--dark);
}
.rating i{
    width: 16px;
    height: 16px;
    color: var(--orange);
}
.tripod p{
    color: var(--gray50);
    font-size: 0.875rem;
    font-weight: 700;
}
.see-more{
    text-align: right;
}
.see-more a{
    text-decoration: none;
    color: var(--pink);
    font-size: 1rem;
    font-weight: 700;
}

/**feature section**/
.features-section{
    max-width:1110px ;
    margin: auto;
}
.feature-content{
    gap: 96px;
    margin-top: 100px;
}
.feature-text h2{
    font-size: 2.375rem;
    font-weight: 700;
    color: var(--naviblue);
}
.feature-text p{
    font-size: 1rem;
    font-weight: 700;
    color: var(--gray);
    margin: 16px 0;
    line-height: 28px;
}
#join-now{
    padding: 10px 24px;
    background-color: var(--pink);
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    border: none;
    gap: 8px;
}
#mr{
    margin-right: 8px;
}

/**footer section**/
.footer-section{
    max-width: 1440px;
    background-color: var(--naviblue);
    padding: 50px 30px;
    margin: auto;
}
.footer-content{
    max-width: 262px;
    margin: 0 auto;
    text-align: center;
}
.social-icon a{
    text-decoration: none;
    color: var(--white);
}
.footer-content h5{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
    padding-bottom: 10px;
}
.social-icon i{
    padding: 8px;
    border-radius: 50%;
    background-color:var(--dark-02);
    font-size: 1.25rem;
}
.para1{
    color: var(--text-gray);
    font-size: 0.875rem;
    font-weight: 700;
}
#reserved{
    margin: 5px 0px 17px 0px;
}

@media only screen and (min-width: 576px) and (max-width:992px){
        /**nav responsive**/
    .header-wrapper{
        max-width: 992px;
    }
    .navigation-bar{
        width: 100%;
        padding: 20px;
    }
    .nav-manu ul, #secrch-none{
        display: none;
    }
    .bar-icons{
        display: block;
    }
        /**hero section responsive**/
    .main-container{
        max-width: 992px;
        padding: 20px;
    }
    .hero-content{
        flex-direction: column-reverse;
        gap: 50px;
        max-width: 100%;
    }
    .hero-title h2{
        font-size: 2.5rem;
    }
    .hero-img img{
        width: 202px;
        height: 190px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }
    .hero-img{
        width: 257px;
        height: 257px;
        background-image: url(./images/Group\ 33091.png);
        position: relative;
    }
    .hero-title{
        text-align: center;
    }
        /**brand section**/
    .brand-section{
        max-width: 992px;
        margin: 20px 0;
        padding: 20px 10px;
    }
    .brand{
        flex-wrap: wrap;
    }
        /**collection-container**/
    .collection-container{
        max-width: 100%;
    }
    .card-container{
        grid-template-columns: repeat(1,1fr);
        place-items: center; 
    }
      /**feature section**/
    .features-section{
        max-width: 100%;
    }
    .feature-content{
        flex-direction: column-reverse;
        text-align: center;
    }
    .feature-img img{
        width: 100%;
    }
    .footer-section{
        max-width:992px;
        padding: 20px;
    }
}


@media only screen and (max-width: 576px){
    /**nav responsive**/
    .header-wrapper{
        max-width: 576px;
    }
    .navigation-bar{
        width: 100%;
        padding: 20px;
    }
    .nav-manu ul, #secrch-none{
        display: none;
    }
    .bar-icons{
        display: block;
    }

    /**hero section responsive**/
    .main-container{
        max-width: 576px;
        padding: 20px;
    }
    .hero-content{
        flex-direction: column-reverse;
        gap: 30px;
        max-width: 536px;
    }
    .hero-title h2{
        font-size: 2rem;
    }
    .hero-img img{
        width: 202px;
        height: 190px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }
    .hero-img{
        width: 257px;
        height: 257px;
        background-image: url(./images/Group\ 33091.png);
        position: relative;
    }
    .hero-title{
        text-align: center;
    }
    /**brand section**/
    .brand-section{
        max-width: 536px;
        margin: 20px 0;
        padding: 20px 10px;
    }
    .brand{
        flex-wrap: wrap;
    }

    /**collection-container**/
    .collection-container{
        max-width: 536px;
    }
    .card-container{
        grid-template-columns: repeat(1,1fr);
        place-items: center; 
    }
    /**feature section**/
    .features-section{
        max-width: 536px;
    }
    .feature-content{
        flex-direction: column-reverse;
        text-align: center;
    }
    .feature-img img{
        width: 100%;
    }
    .footer-section{
        max-width: 576px;
        padding: 20px;
    }
}